<h1>GitHub User Search Results</h1>

<% if @github_data %>
  <h2>User Information</h2>
  <p><strong>Name:</strong> <%= @github_data[:name] %>

  <h2>Repositories</h2>
    <ul>
      <% @github_data[:repositories_names].each do |repository| %>
        <li><%= repository %></li>
      <% end %>
    </ul>
<% else %>
  <p>No user found with the provided GitHub username.</p>
<% end %>

<%= link_to 'Search Again', root_path %>
<%= link_to 'Use Graphql', graphiql_rails_path, github_login: @github_login %>
